# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\sibun\Documents\UPGRAD\Software Engineering Frameworks and Server Side Development k\Assignment\ImageHoster_assignment_stub\ImageHoster\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
